@font-face {
    font-family:'proxl';
    src:url('../webfonts/Proximanova_light.otf');
}
@font-face {
    font-family:'proxb';
    src:url('../webfonts/Proximanove_bold.otf');
}
@font-face {
    font-family:'proxr';
    src:url('../webfonts/Proximanova_regular.ttf');
}

.pb-60{
    padding-bottom:60px;
}
.pt-20{
    padding-top:20px;
}


header{
    background:url('../images/header.png') no-repeat;
    background-size:cover;
}

.navbar-brand{
    font-family:proxl;
    font-size:42.35px;
}
.navbar-brand span{
    font-family:proxb;
}
.navbar-nav .nav-link{
    color:white;
}
.navbar-nav .nav-link.active{
    font-weight:bold;
    color:white;
}
h1{
    font-family: proxb;
    font-size: 3rem;
}
#intro p{
    font-size:18px;
    font-family:proxr;
}
#intro button{
    font-size:18px;
    font-family:proxl;
}
button:hover{
    background:red;
}