@font-face {
    font-family:'proxl';
    src:url('../webfonts/Proximanova_light.otf');
}
@font-face {
    font-family:'proxb';
    src:url('../webfonts/Proximanove_bold.otf');
}
@font-face {
    font-family:'proxr';
    src:url('../webfonts/Proximanova_regular.ttf');
}
.fontp18{
    font-family:proxr;
    color:#5e6372;
}
.fontp14{
    font-family:proxr;
    color:#a7acbc;
}
.pb-60{
    padding-bottom:60px;
}
.pt-20{
    padding-top:20px;
}
.my-drones{
    margin-top:16px;
    margin-top:16px;

}
.btnbluetop{
    margin-top:30px;
}
#topheader{
    background:url('../images/header.png') no-repeat;
    background-size:cover;
}

.navbar-brand{
    font-family:proxl;
    font-size:42.35px;
}
.navbar-brand span{
    font-family:proxb;
}
.navbar-nav .nav-link{
    color:white;
}
.navbar-nav .nav-link.active{
    font-weight:bold;
    color:white;
}
h1{
    font-family: proxb;
    font-size: 3rem;
}
#intro p{
    font-size:18px;
    font-family:proxr;
}
#intro button{
    font-size:18px;
    font-family:proxl;
}
button:hover{
    background:red;
}
.mac-mouse {
    width: 35px;
    height: 50px;
}
.mouse-wheel {
    width: 3px;
    height: 20px;
    top:16px;
}
.btnblue{
    background:#28479a;
}
.gradient-text {
    background: linear-gradient(to bottom right, #cb0035 25%, #FFA500 75%); /* Definieer je gewenste kleurverloop als achtergrond */
    -webkit-background-clip: text; /* Hiermee wordt de achtergrond van de tekst bepaald door de achtergrond van het element */
    color: transparent; /* Maak de oorspronkelijke tekst transparant */
}
/*nature*/
.position-relative {
    position: relative;
}

.video-fluid {
    width: 100%;
    height: auto;
}

.play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px; /* Pas de breedte en hoogte aan naar wens */
    height: 100px;
    background: url('../images/play-button.png') no-repeat center center; /* Voeg het juiste pad naar het afspeelknop-icoon toe */
    background-size: cover;
}


/*media queries*/
@media (min-width: 992px) {
    .my-drones{
        margin-top:135px;
        margin-bottom:135px;

    }
    .btnbluetop{
        margin-top:100px;
    }
    #nature{
        background:url('../images/Dronebackground.png') no-repeat right center;
    }
    .natureitem{
        width:50%;
    }

}

